@import './scss/main.scss';

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;

  body {
    margin: 1.5rem;
    padding: 2rem;
    border: $border-primary;
  }
}