@font-face {
  font-family: DIN;
  src: url(../fonts/D-DIN.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DIN;
  src: url(../fonts/D-DIN-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: DINCondensed;
  src: url(../fonts/D-DINCondensed.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINCondensed;
  src: url(../fonts/D-DINCondensed-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}