/* Colors */
$primary: #417505;
$secondary: #79A546;
$black: black;

$border-primary: 3px solid $primary;

/* Typographie */
$base-font-family: "DIN", Arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;